<section>
    <h1>Educacion</h1>
    <div class="container-fluid">
        <div *ngFor="let item of educacion" class="row">
            <div class="col-2">
                <img [src]="item.img" class="img-fluid" alt="logoUnsam" width=60%>
            </div>
            <div class="col-9">
                <h2>{{item.school}}</h2>
                <p id="tituloUno" class="nombre">{{item.title}}</p>
                <p id="tiempo" class="nombre">{{item.start}} - {{item.end}}</p>
            </div>
            <div class="col-1">
                <button class="myButton" onclick="cambiarParrafo('tituloUno')">Editar</button>
            </div>
        </div>
 <!--
        <div class="row justify-content-start">
            <div class="col-2 align-self-start">
                    <img src="assets/imagenes/ArgP.png" class="img-fluid" alt="logoArg" width=60%>
            </div>
            <div class="col-9">
                    <h2>Yo Programo</h2>
                    <p id="tituloDos" class="nombre">Desarrollador Web Full Stack.</p>
            </div>
            <div class="col-1">
                    <button class="myButton" onclick="cambiarParrafo('tituloDos')">Editar</button>   
            </div>
        </div>
            
        <div class="row">
                <div class="col-2">
                        <img src="assets/imagenes/logocjh.png" class="img-fluid" alt="logoCol" width=60%>
                </div>
                <div class="col-9">
                        <h2>Colegio Jose Hernandez</h2>
                        <p id="tituloTres" class="nombre">Tecnico en Programacion Informatica.</p>
                </div>
                <div class="col-1">
                        <button class="myButton" onclick="cambiarParrafo('tituloTres')">Editar</button>
                    
                </div>
        </div>-->
    </div>



</section>