<section>
    <h1>Acerca de</h1>
    <div class="row">
        <div class="col-11">
            <p id="acercaDe">Frontend : HTML, CSS y JavaScrip.<br>
            Backend : </p>
        </div>
        <div class="col-1">
            <button type="button" class="myButton btn btn-primary" onclick="" data-bs-toggle="modal" data-bs-target="#exampleModal2">Editar</button>
                 <!-- Modal -->
                 <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Modificar "AcercaDe"</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form>
                                
                                <div class="mb-3">
                                    <div class="form-floating">
                                        <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
                                        <label for="floatingTextarea2">Nuevo texto...</label>
                                      </div>
                                 </div>
                    
                            </form>
                        </div>
                        <div class="modal-footer">
                        <button type="button" class="myButton btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <button type="button" class="myButton btn btn-primary">Guardar</button>
                        </div>
                    </div>
                    </div>
                </div>
        </div>
    </div>    
</section>